/* Styles for the DemoPlaylistContainer component */

.demo-container {
	padding: 20px;
	background-color: var(--background-color);
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 30%;
}

.demo-container h2 {
	color: var(--primary-color);
	margin-bottom: 16px;
}

.demo-item {
	margin-bottom: 16px;
}

.demo-title {
	color: var(--text-color);
	font-weight: 200;
	font-size: small;
	margin-bottom: 8px;
}

.demo-item h3 {
	color: var(--text-color);
	margin-bottom: 8px;
}

.demo-item audio {
	width: 100%;
}
