@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Inter:wght@300;400;500;600&display=swap');

/* Define default theme variables */
:root {
  --primary-color: #3B5998;
  --secondary-color: #A67C52;
  --background-color: #F5F5F5;
  --text-color: #2C2C2C;
  --primary-user-name-color: rgba( 252, 245, 237, 100%);
}

/* Dark theme variables */
.dark-theme {
  --primary-color: #A67C52;
  --secondary-color: #3B5998;
  --background-color: #2C2C2C;
  --text-color: #F5F5F5;
}

/* Light theme variables */
.light-theme {
  --primary-color: #3B5998;
  --secondary-color: #A67C52;
  --background-color: #F5F5F5;
  --text-color: #2C2C2C;
}

/* Apply variables */
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.button {
  background-color: var(--primary-color);
  color: var(--background-color);
}
